<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    </style>
</head>
<body>
<div>
    <div>${name}同学，你好：</div>
    <br>
    <div>您于${borrowDate}在我们实验室借用了${itemName}共${number}台,到目前为止已经借用了${month}个月，如不再需要，请尽快归还，谢谢！</div>
    <img src=${src}></img>
    <div>同济大学软件学院510实验室</div>
</div>
</body>
</html>