<div ng-controller="SidebarCtrl" class="wrapper">
<section >
  <header class="main-header">
    <!-- Logo -->
    <a ui-sref="app.home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Lab</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Lab</b>Management</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!--&lt;!&ndash; Notifications: style can be found in dropdown.less &ndash;&gt;-->
          <!--<li class="dropdown notifications-menu">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--<i class="fa fa-bell-o"></i>-->
          <!--<span class="label label-warning">10</span>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu">-->
          <!--<li class="header">You have 10 notifications</li>-->
          <!--<li>-->
          <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
          <!--<ul class="menu">-->
          <!--<li>-->
          <!--<a href="#">-->
          <!--<i class="fa fa-users text-aqua"></i> 5 new members joined today-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="#">-->
          <!--<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the-->
          <!--page and may cause design problems-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="#">-->
          <!--<i class="fa fa-users text-red"></i> 5 new members joined-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="#">-->
          <!--<i class="fa fa-shopping-cart text-green"></i> 25 sales made-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="#">-->
          <!--<i class="fa fa-user text-red"></i> You changed your username-->
          <!--</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->
          <!--<li class="footer"><a href="#">View all</a></li>-->
          <!--</ul>-->
          <!--</li>-->
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img ng-src="{{userIcon}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{username}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img ng-src="{{userIcon}}" class="img-circle" alt="User Image">

                <p>
                  {{username}}
                  <small>管理员</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a class="btn btn-default btn-flat" disabled>Profile</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" ng-click="signOut()">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img ng-src="{{userIcon}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{username}}</p>
          <a><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview {{adminActive}}">
          <a style="cursor:pointer;">
            <i class="fa fa-user-secret"></i>
            <span >管理员模块</span>
            <!--<span class="pull-right-container">-->
            <!--<span class="label label-primary pull-right">4</span>-->
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{{item.active}}"  ng-repeat="item in adminMenu track by $index">
              <a ui-sref="{{item.url}}">
                <i class={{item.icon}}></i> <span>{{item.name}}</span>
                <!--<span class="pull-right-container">-->
                <!--<small class="label pull-right bg-red">3</small>-->
                <!--<small class="label pull-right bg-blue">17</small>-->
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</section>


<div class="content-wrapper">
  <div ui-view></div>
</div>

<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2017-2017 <a href="#">SSE LAB 510</a>.</strong> All rights reserved.
</footer>
</div>
