<section class="content-header">
  <h1>
    实验室资产管理系统
    <small>Profile</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li  class="active"><a href="#"> Profile</a></li>
  </ol>
</section>
<section class="content">

  <!-- Main content -->
  <section class="content">

    <!-- Manager List Table-->
    <div class="row" style="margin-top: 1%">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <div class="row">
              <h3 class="box-title col-sm-12">Profile</h3>

            </div>
          </div>
          <div class="box-body">


            <form class="form-horizontal  col-sm-10"  name="form" style="margin-top: 4%">
              <div>
                <div>
                  <div>

                    <div id="crop-avatar">
                      <div class="avatar-view" title="点击更换头像">
                        <img class="profile-user-img img-responsive img-circle" style="width: 200px" ng-src="{{userAvatar}}" alt="点击更换头像" ng-click="showModal()">
                      </div>
                    </div>


                    <div class="form-group" style="margin-top: 5%">
                      <label for="inputUserName" class="col-sm-2 control-label">用户名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUserName" placeholder="" ng-model="user.username" required name="inputUserName" ng-disabled="true">
                        <div ng-messages="form['inputUserName'].$touched && form['inputUserName'].$error">
                          <div ng-message="required" class="required-warn">必填项</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label" >姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="" ng-model="user.name" required name="inputName" >
                        <div ng-messages="form['inputName'].$touched && form['inputName'].$error">
                          <div ng-message="required" class="required-warn">必填项</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPhone" class="col-sm-2 control-label">手机</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPhone" placeholder="" ng-model="user.phoneNumber" required name="inputPhone">
                        <div ng-messages="form['inputPhone'].$touched && form['inputPhone'].$error">
                          <div ng-message="required" class="required-warn">必填项</div>
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="inputPWD" class="col-sm-2 control-label">密码</label>
                      <div class="col-sm-10">
                        <input type="password"  required="" class="form-control" id="inputPWD" placeholder="" ng-model="user.password" >
                        <div ng-messages="form['inputUserName'].$touched && form['inputUserName'].$error">
                          <div ng-message="required" class="required-warn">必填项</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputCPWD" class="col-sm-2 control-label">确认密码</label>
                      <div class="col-sm-10">
                        <input type="password" required class="form-control" id="inputCPWD" placeholder="" ng-model="user.cpassword" >
                        <div ng-messages="form['inputUserName'].$touched && form['inputUserName'].$error">
                          <div ng-message="required" class="required-warn">必填项</div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="pull-right" style="margin-bottom: 5%">
                  <button ng-disabled="!form.$valid" type="button" class="btn btn-primary" ng-click="user_submit()">保存</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->

    </div>


  </section>
  <!-- /.content -->

</section>


<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="avatar-form"  method="post">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h4 class="modal-title" id="avatar-modal-label">更换图片</h4>
        </div>
        <div class="modal-body">
          <div class="avatar-body">
            <div class="avatar-upload">
              <input class="avatar-src" name="avatar_src" type="hidden">
              <input class="avatar-data" name="avatar_data" type="hidden">
              <label for="avatarInput">图片上传</label>
              <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
            <div class="row">
              <div class="col-md-9">
                <div class="avatar-wrapper">
                  <img id="avatarImg" src="">
                </div>
              </div>
              <div class="col-md-3">
                <div class="avatar-preview preview-lg"></div>
                <div class="avatar-preview preview-md"></div>
                <div class="avatar-preview preview-sm"></div>
              </div>
            </div>
            <div class="row avatar-btns">
              <div class="col-md-9">
                <div class="btn-group">
                  <button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees" ng-click="rotate_left()"><i class="fa fa-undo"></i> 向左旋转</button>
                </div>
                <div class="btn-group">
                  <button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees" ng-click="rotate_right()"><i class="fa fa-repeat"></i> 向右旋转</button>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success btn-block avatar-save" ng-click="save()"><i class="fa fa-save"></i> 保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
